<div class="container about-box">
  <div class="row">
    <div class="col-12">
        <div class="main-container">
          <div class="text-center mb-5">
            <h1>Men Voyage</h1>
            <div class="row">
              <div class="col-12 mt-5">

                  <p>こちらは麺料理のレシピを閲覧・掲載・ブックマークできるサイトです</p>

                  <p>簡単に出来る料理から本格的な調理まで</p>

                  <p>皆さんでレシピを共有しあい、麺料理の世界を旅しましょう！</p>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>