<div class="container">
  <div class="row">

    <div class="col-md-10">
      <div class="jumbotron">
        <div class="welcome-text">
          <div class="text-center">
            <p>
              麺Voyage(メンボヤージュ)にようこそ！<br>
              このサイトは、麺料理のレシピを紹介しています<br>
              会員になると自分で麺料理のレシピを投稿することができます<br>
              良い麺料理の旅を！<br>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <h3 class="title">新着メニュー</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to "全てのレシピを見る>", recipes_path %>
        </div>
      </div>
<p>新規登録後の画面</p>